<div class="row row-margin">
<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @link.address %>
</p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @link.summary %>
</p>

<p>
  <strong>Vote score:</strong>
  <%= @link.vote_score %>
</p>

<p>
  <strong>Subreddit:</strong>
  <%= @link.subreddit.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user.username %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
</div>
<div class="row">
  <div class="col-xs-9">
    <%= simple_form_for [@link, @comment] do |f| %>
    <%= f.input :body, label: "Leave a comment:"  %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>
<div id="link-comments"class="col-xs-9">
  <%= render @comments %>

</div>
